<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="ion-text-center">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img class="icon" src="assets/icon/register.svg"> 
  <ion-item>
    <ion-label position="floating"> Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="name" name="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Correo electrónico</ion-label>
    <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
  </ion-item>
  <br>
  <ion-button expand="block" color="secondary" (click)="OnSubmitRegister()">Registrase</ion-button>
  <br>
  <p class="ion-text-center" routerLink="/login">Ya tengo cuenta</p>

</ion-content>
