<ion-header>
  <ion-toolbar color="tertiary">
    <ion-button slot="start" fill="clear" (click)="presentActionSheet()">
      <ion-icon style="color: #fff;" name="menu-outline"></ion-icon>
    </ion-button>
    <ion-title>
      Chat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>
    <ion-item *ngFor="let chat of chatRooms" (click)="openChat(chat)">
      <ion-avatar slot="start">
        <img [src]="chat.img" />
      </ion-avatar>
      <ion-label>
        <h2> <b>{{chat.name}}</b> </h2>
        <p>{{chat.description}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
