<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Iniciar sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img class="icon" src="assets/icon/chat_icon.svg"> 
  <ion-item>
    <ion-label position="floating"> Correo electrónico</ion-label>
    <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
  </ion-item>
  <br>
  <ion-button expand="block" (click)="OnSubmitLogin()">Entrar</ion-button>
  <br>
  <p class="ion-text-center" routerLink="/registro">Crear cuenta</p>

</ion-content>
